<!DOCTYPE html>
<html>

<head>
  <title>USMUG: {{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="/stylesheets/reset.css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/usmug.css" charset="utf-8">
</head>

<body>

  <header>
    <h1><a href="/">Utah Smalltalk Users Group (USMUG)</a></h1>
  </header>

  <nav>
    <ul>
        <li><a href="http://groups.google.com/forum/#!forum/usmug">Mailing List</a></li>
        <li><a href="http://github.com/usmug">GitHub</a></li>
    </ul>
  </nav>

{{ content }}

  <footer>
    <p class="github"><a href="http://github.com/usmug/usmug.github.com">Fork me on GitHub</a></p>
  </footer>

</body>

</html>
